body {
    background-color: black;
    font-family: helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
    align-items: center;
}

.column {
    flex-direction: column;
    align-items: center;
}


.content {
    margin-top: 69px;
}

/* header */

header {
    height: 69px;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
}

nav {
    margin-right: 10px;
}

nav a {
    text-decoration: underline;
    color: seashell;
    margin-left: 10px;
}

.logo {
    height: 50px;
    width: auto;
    margin-left: 10px;
}

/* mission */

#mission-container {
    height: 700px;
    width: 1200px;
    background-image: url(../images/img-mission-background.jpg);
    background-repeat: no-repeat;
    justify-content: space-around;
}

.mission-statement {
    background-color: black;
    align-content: center;
    width: 100%;
}

.mission-statement h2 {
    margin: 0 0;
    padding: 10px;
}

.mission-statement h4 {
    margin: 0 0;
    padding: 10px;
}

/* tea of the month */

#tea-of-the-month {
    width: 1000px;
    padding: 50px 0;
}

#tea-of-the-month h2 {
    display: block;
}

#tea-of-the-month h4 {
    margin: 0 0 30px 0;
}

.gallery-container {
    flex-wrap: wrap;
    justify-content: center;
}

.image-container {
    width: 300px;
    height: 200px;
    margin: 0 15px 10px 15px;
}

/* locations */

#locations {
    height: 570px;
    width: 1200px;
    background-image: url(../images/img-locations-background.jpg);
    background-repeat: no-repeat;
    justify-content: center;
}

#locations h2 {
    margin: 0;
}

.location-block {
    background-color: black;
    width: 300px;
    margin: 15px 20px 0 20px;
}

.location-block p {
    margin: 40px 0 40px 0;
}

/* contact */

#contact {
    height: 200px;
}

#contact h2 {
    margin: 0 0;
    padding-top: 15px;
}

/* footer */

footer {
    float: left;
    margin-left: 20px;
}




